@import 'tailwindcss';

@theme {
  --color-primary: #fe5245;
  --color-primary-dark: #fe4638;
  --color-gray: #1c2c2d;
  --color-oil: #435448;
  --color-pink: #facfb0;
  --color-pink-light: #fcf0db;
  --color-peach: #f7c9ab;
  --color-yellow: #ffb14a;
  --color-red: #fe5245;
}

* {
  box-sizing: border-box;
}

.back {
  z-index: -1;
}

@utility mask-to-t {
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

@theme inline {
  --font-sans: var(--font-dm-sans);
  --font-serif: var(--font-dm-serif-display);
}

body {
  font-family: var(--font-dm-sans);
}
